hr{  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  width: 100%;
  border-color: grey;
}

body{

   background-image: linear-gradient(180deg, red, yellow);
}
h1
{
  font-family:algerian;
  text-shadow: 2px 2px 5px skyblue;
  }
